// ========== ANIMATIONS ===

.hover {
  box-shadow: 3px 2px 6px black;
}

/*********************************
   * circle (animation for intro)
  ******** */

// class

.circle {
  position: relative;
  top: -43.9rem;
  left: -0.5rem;
  width: 55rem;
  height: auto;
  z-index: 3;
  -webkit-animation: circle 150s linear infinite;
  animation: circle 150s linear infinite;
  // border: 4px red solid;
}

// keyframe

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes circle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*********************************
   * move-eye (animation for intro)
  ******** */

// class
.eye {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px #000000 solid;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin: 49.1%;
  transform: translateX(-0.5rem);
  z-index: 3;
  -webkit-animation: 8s linear 0s infinite alternate move_eye;
  animation: 8s linear 0s infinite alternate move_eye;
  -webkit-animation: 8s linear 0s infinite alternate move_eye_top;
  animation: 8s linear 0s infinite alternate move_eye_top;

  @include responsive(mobile) {
    width: 6px;
    height: 6px;
  }
}

// keyframe

@-webkit-keyframes move_eye {
  from {
    left: -4%;
  }
  to {
    left: 10%;
  }
}
@keyframes move_eye {
  from {
    left: -4%;
  }
  to {
    left: 10%;
  }
}

@-webkit-keyframes move_eye_top {
  from {
    top: -0.2%;
  }
  to {
    top: 0%;
  }
}
@keyframes move_eye_top {
  from {
    top: -0.2%;
  }
  to {
    top: 0%;
  }
}

@-webkit-keyframes move_eye_top {
  from {
    top: -0.4%;
  }
  to {
    top: 0%;
  }
}
@keyframes move_eye_top {
  from {
    top: -0.4%;
  }
  to {
    top: 0%;
  }
}

/*********************************
   * slide-in (animation for image entrance)
  ******** */

// class
.slide-in {
  -webkit-animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

// keyframes
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**************************************
   * disappear (animation for card selected)
  ********** */

// class
.disappear {
  -webkit-animation: disappear 0.55s cubic-bezier(0.65, 0.085, 0.68, 0.53) both;
  animation: disappear 0.55s cubic-bezier(0.65, 0.085, 0.68, 0.53) both;
}

// keyframes
@-webkit-keyframes disappear {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg) translateX(10rem);
    transform: rotateX(70deg) translateX(10rem);
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg) translateX(10rem);
    transform: rotateX(70deg) translateX(10rem);
    opacity: 0;
  }
}

/*********************************
   * text-focus (animation for text apparition)
  ********** */

// class
.text-focus {
  -webkit-animation: text-focus 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

// keyframes
@-webkit-keyframes text-focus {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
