div[name="card0"] {
  grid-area: c;
  justify-self: center;
  align-self: start;
  transform: translateY(-8rem);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;
  margin: 0;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card1"] {
  grid-area: a;
  justify-self: center;
  align-self: start;
  transform: rotate(-45deg);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card2"] {
  justify-self: center;
  align-self: start;
  grid-area: k;
  transform: translateX(-15rem) rotate(-90deg) translateY(8rem);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card3"] {
  justify-self: center;
  align-self: start;
  grid-area: u;
  transform: rotate(-135deg);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card4"] {
  justify-self: center;
  align-self: start;
  grid-area: w;
  transform: translateX(0) rotate(180deg) translateY(-8rem);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card5"] {
  justify-self: center;
  align-self: start;
  grid-area: y;
  transform: rotate(135deg);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card6"] {
  justify-self: center;
  align-self: start;
  grid-area: o;
  transform: translateX(0) rotate(90deg) translateY(-7rem);
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}

div[name="card7"] {
  justify-self: center;
  align-self: start;
  grid-area: e;
  transform: rotate(45deg);
  border-radius: 6px;
  background-color: white;
  padding: 6px;
  border: 1px black solid;
  border-radius: 4px;

  @include responsive(mobile) {
    padding: 3px;
  }
}
