.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem;
}

// Card selection
#cardList {
  height: 4rem;
  display: flex;
  list-style: none;
}

#cardImg {
  height: 10rem;
}

.cardSelection {
  margin: 0.3rem;
}
.back-card {
  width: 2.5rem;
}

// Element container
#cardImage {
  margin-top: 2rem;
  padding: 1rem 10vw;
  border: 2px dotted red;
}

#cardTitle {
  padding: 1rem 10vw;
  display: flex;
  border: 2px dotted yellow;
}

#cardDescription {
  padding: 1rem 10vw;
  display: flex;
  border: 2px dotted blue;
}

// Add element
.imageAdd {
  height: 10rem;
  margin: 0 2rem;
}

.divAdd {
  border-top: 1px solid black;
}

.titleAdd {
  margin: 0 2.5rem;
}

.descriptionAdd {
  margin: 0 2.5rem;
}

// HOVER, ACTIVE etc..
.active {
  transform: scale(1.2);
}

.hover {
  transform: translateY(-5px);
}
